* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

header {
    display: flex;
    margin: 1.5em;
    font-size: 1.4em;
}

#weatherAPI {
 margin-left: 0.4em;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.blob1, .blob2, .blob3 {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 900;
}

.blob1 {
    background-image: url(/img/blob1.svg);
    width: 75%;
    height: 100vh;
    margin-top: 2em;
    left: 10%;
    background-size: 110%;
}

.blob2 {
    background-image: url(/img/blob2.svg);
    width: 25%;
    height: 100vh;
    margin-top: 45%;
    left: 0.5%;
}

.blob3 {
    background-image: url(/img/blob3.svg);
    width: 20%;
    height: 100vh;
    left: 78%;
}

.jokeBox {
    margin-top: 8em;
    z-index: 950;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
}

main {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jokeText {
    margin: 2.5em;
    font-size: 1em;
    width: 80%;
}

button {
    border: none;
    border-radius: 1rem;
}

.rate {
    padding: 0%;
    background-color: black;
    margin: 0em 0.3em;
    font-size: 1.7em;
}

#mainButton {
    background-color: #EDC951;
    margin-top: 1em;
    padding: 1em 3em;
    font-size: 1em;
    border: 0.2em solid black;
}

@media only screen and (max-width: 800px) {    
    .jokeBox {
        margin-top: 10em;
        width: 60%;
        font-size: 0.8em;
    }
    #jokeText {
        margin: 2em;
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {    
    .jokeBox {
        margin-top: 14em;
        width: 60%;
        font-size: 0.4em;
    }
    #jokeText {
        width: 80%;
    }
}
